

html { 
    background: url(../images/home_background.jpg) no-repeat center center fixed; 
    background-size: cover;  
    background-position: 100% 30%;
}
.home-page {
    color: #edf1f3;
    font-size: 2rem;
    background-color: rgba(0,0,0,0.7);
    border-radius: 50px;
    width: 50%;
    height: 400px;
    margin: 13% 50px;
    padding: auto 50px;
    margin-bottom: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.lname {
    font-size: 7rem;
    color: #06a562;
}

.quote {
    font-family: 'Satisfy', cursive;
    font-size: 1.8rem;
    padding-left: 10px;
}

.home-name {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    padding: 20px 10px 50px 10px;
}

.fname {
    font-size: 4rem;
}

body {
    margin-left: auto;
    margin-right: auto;
}



h1 {
    display: block;
}




